<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheet/info.css">
</head>
<body>
	<h1><%= errorInfo %></h1>
	<p>用户名：<%= username %></p>
	<p>学号：<%= userId %></p>
	<p>电话：<%= phone %></p>
	<p>邮箱：<%= email %></p>
	<button type="button"onclick="javascript:window.location.href='/logout'" id="button">注销</button>

</body>
<!-- <script type="text/javascript">
	document.getElementById("button").onclick = function() {
		window.location.href="localhost:8000";
	}
</script> -->
</html>
